.gitignore
.tx

src/gslapt
src/*.o
**/*swp

gslapt-kde.desktop
gslapt.desktop
series_map.rc

po/*.gmo
po/POTFILES

aclocal.m4
configure
depcomp
install-sh
missing
aclocal.m4
autom4te.cache
config.*
**/stamp-*
src/.deps
**/Makefile
**/Makefile.in*
