[Desktop Entry]
Encoding=UTF-8
Exec=/usr/sbin/gslapt
Name=Gslapt Package Manager
Name[pl]=Gslapt Mened≈ºer Pakiet√≥w
Name[de]=Gslapt-Paketverwaltung
Name[es]=Gestor de Paquetes Gslapt
Name[fr]=Gestionnaire de paquets Gslapt
Name[hu]=Gslapt csomagkezel≈ë
Name[it]=Gestore pacchetti Gslapt
Name[nl]=Gslapt pakketbeheer
Name[no]=Gslapt Pakkeadministrasjon
Name[pt_BR]=Gerenciador de Pacotes Gslapt
Name[pt_PT]=Gestor de Pacotes Gslapt
Name[sl]=Upravitelj paketov Gslapt
Name[ru]=Ì≈Œ≈ƒ÷≈“ –¡À≈‘œ◊ Gslapt
Name[uk]=Ì≈Œ≈ƒ÷≈“ –¡À’ŒÀi◊ Gslapt
GenericName=Gslapt
Comment=Install, remove and upgrade software packages
Comment[de]=Software-Pakete installieren, entfernen und aktualisieren
Comment[es]=Instalar, eliminar y actualizar los paquetes de software
Comment[fr]=Installer, d√©sinstaller et mettre √† jour les paquets de logiciels
Comment[it]=Installa, rimuove e aggiorna i pacchetti software
Comment[nl]=Softwarepakketten installeren, verwijderen of bijwerken
Comment[no]=Installer, fjern eller oppgrader programvare pakker
Comment[pl]=Instalacja, usuwanie i aktualizacja pakiet√≥w z oprogramowaniem
Comment[pt_BR]=Instalar, remover e atualizar pacotes
Comment[pt_PT]=Instalar, remover e actualizar pacotes
Icon=/usr/share/pixmaps/gslapt.png
Terminal=false
Categories=GNOME;Application;System;Utility;Settings;
StartupNotify=true
Type=Application
