[Desktop Entry]
Encoding=UTF-8
Exec=gslapt
Comment=This is a GTK version of slapt-get
Comment[pl]=slapt-get w wersji GTK
Comment[de]=GTK version für slapt-get
GenericName=slapt-get Gui
Icon=/usr/share/pixmaps/gslapt.png
Name=gslapt
Terminal=false
TerminalOptions=
Type=Application
