[series mappings]
./slackware/a=Base
./slackware/a[bg]=Base
./slackware/a[de]=Basis
./slackware/a[el]=Βάση
./slackware/a[es]=Base
./slackware/a[fr]=Base
./slackware/a[gl_ES]=Base
./slackware/a[id]=Base
./slackware/a[it]=Base
./slackware/a[ja]=Base
./slackware/a[nl]=Base
./slackware/a[pl]=Base
./slackware/a[pt_BR]=Base
./slackware/a[pt]=Base
./slackware/a[ru]=Base
./slackware/a[sk]=Base
./slackware/a[sv]=Base
./slackware/a[tr]=Base
./slackware/a[uk]=Base
./slackware/a[vi]=Base
./slackware/a[zh_CN]=Base
./slackware/ap=Applications
./slackware/ap[bg]=Applications
./slackware/ap[de]=Anwendungen
./slackware/ap[el]=Εφαρμογές
./slackware/ap[es]=Aplicaciones
./slackware/ap[fr]=Applications
./slackware/ap[gl_ES]=Applications
./slackware/ap[id]=Applications
./slackware/ap[it]=Applications
./slackware/ap[ja]=Applications
./slackware/ap[nl]=Applications
./slackware/ap[pl]=Applications
./slackware/ap[pt_BR]=Applications
./slackware/ap[pt]=Applications
./slackware/ap[ru]=Applications
./slackware/ap[sk]=Applications
./slackware/ap[sv]=Applications
./slackware/ap[tr]=Applications
./slackware/ap[uk]=Applications
./slackware/ap[vi]=Applications
./slackware/ap[zh_CN]=Applications
./slackware/d=Development Tools
./slackware/d[bg]=Development Tools
./slackware/d[de]=Entwicklungs-Werkzeuge
./slackware/d[el]=Εργαλεία ανάπτυξης
./slackware/d[es]=Herramientas de desarrollo
./slackware/d[fr]=Development Tools
./slackware/d[gl_ES]=Development Tools
./slackware/d[id]=Development Tools
./slackware/d[it]=Development Tools
./slackware/d[ja]=Development Tools
./slackware/d[nl]=Development Tools
./slackware/d[pl]=Development Tools
./slackware/d[pt_BR]=Development Tools
./slackware/d[pt]=Development Tools
./slackware/d[ru]=Development Tools
./slackware/d[sk]=Development Tools
./slackware/d[sv]=Development Tools
./slackware/d[tr]=Development Tools
./slackware/d[uk]=Development Tools
./slackware/d[vi]=Development Tools
./slackware/d[zh_CN]=Development Tools
./slackware/e=GNU Emacs
./slackware/e[bg]=GNU Emacs
./slackware/e[de]=GNU Emacs
./slackware/e[el]=GNU Emacs
./slackware/e[es]=GNU Emacs
./slackware/e[fr]=GNU Emacs
./slackware/e[gl_ES]=GNU Emacs
./slackware/e[id]=GNU Emacs
./slackware/e[it]=GNU Emacs
./slackware/e[ja]=GNU Emacs
./slackware/e[nl]=GNU Emacs
./slackware/e[pl]=GNU Emacs
./slackware/e[pt_BR]=GNU Emacs
./slackware/e[pt]=GNU Emacs
./slackware/e[ru]=GNU Emacs
./slackware/e[sk]=GNU Emacs
./slackware/e[sv]=GNU Emacs
./slackware/e[tr]=GNU Emacs
./slackware/e[uk]=GNU Emacs
./slackware/e[vi]=GNU Emacs
./slackware/e[zh_CN]=GNU Emacs
./slackware/f=Documentation
./slackware/f[bg]=Documentation
./slackware/f[de]=Dokumentation
./slackware/f[el]=Τεκμηρίωση
./slackware/f[es]=Documentación
./slackware/f[fr]=Documentation
./slackware/f[gl_ES]=Documentation
./slackware/f[id]=Documentation
./slackware/f[it]=Documentation
./slackware/f[ja]=Documentation
./slackware/f[nl]=Documentation
./slackware/f[pl]=Documentation
./slackware/f[pt_BR]=Documentation
./slackware/f[pt]=Documentation
./slackware/f[ru]=Documentation
./slackware/f[sk]=Documentation
./slackware/f[sv]=Documentation
./slackware/f[tr]=Documentation
./slackware/f[uk]=Documentation
./slackware/f[vi]=Documentation
./slackware/f[zh_CN]=Documentation
./slackware/gnome=GNOME
./slackware/gnome[bg]=GNOME
./slackware/gnome[de]=GNOME
./slackware/gnome[el]=GNOME
./slackware/gnome[es]=GNOME
./slackware/gnome[fr]=GNOME
./slackware/gnome[gl_ES]=GNOME
./slackware/gnome[id]=GNOME
./slackware/gnome[it]=GNOME
./slackware/gnome[ja]=GNOME
./slackware/gnome[nl]=GNOME
./slackware/gnome[pl]=GNOME
./slackware/gnome[pt_BR]=GNOME
./slackware/gnome[pt]=GNOME
./slackware/gnome[ru]=GNOME
./slackware/gnome[sk]=GNOME
./slackware/gnome[sv]=GNOME
./slackware/gnome[tr]=GNOME
./slackware/gnome[uk]=GNOME
./slackware/gnome[vi]=GNOME
./slackware/gnome[zh_CN]=GNOME
./slackware/k=Linux kernel
./slackware/k[bg]=Linux kernel
./slackware/k[de]=Linux Kernel
./slackware/k[el]=Πυρήνας Linux
./slackware/k[es]=Kernel de Linux
./slackware/k[fr]=Linux kernel
./slackware/k[gl_ES]=Linux kernel
./slackware/k[id]=Linux kernel
./slackware/k[it]=Linux kernel
./slackware/k[ja]=Linux kernel
./slackware/k[nl]=Linux kernel
./slackware/k[pl]=Linux kernel
./slackware/k[pt_BR]=Linux kernel
./slackware/k[pt]=Linux kernel
./slackware/k[ru]=Linux kernel
./slackware/k[sk]=Linux kernel
./slackware/k[sv]=Linux kernel
./slackware/k[tr]=Linux kernel
./slackware/k[uk]=Linux kernel
./slackware/k[vi]=Linux kernel
./slackware/k[zh_CN]=Linux kernel
./slackware/kde=KDE
./slackware/kde[bg]=KDE
./slackware/kde[de]=KDE
./slackware/kde[el]=KDE
./slackware/kde[es]=KDE
./slackware/kde[fr]=KDE
./slackware/kde[gl_ES]=KDE
./slackware/kde[id]=KDE
./slackware/kde[it]=KDE
./slackware/kde[ja]=KDE
./slackware/kde[nl]=KDE
./slackware/kde[pl]=KDE
./slackware/kde[pt_BR]=KDE
./slackware/kde[pt]=KDE
./slackware/kde[ru]=KDE
./slackware/kde[sk]=KDE
./slackware/kde[sv]=KDE
./slackware/kde[tr]=KDE
./slackware/kde[uk]=KDE
./slackware/kde[vi]=KDE
./slackware/kde[zh_CN]=KDE
./slackware/kdei=KDE Internationalization
./slackware/kdei[bg]=KDE Internationalization
./slackware/kdei[de]=KDE Lokalisierungen
./slackware/kdei[el]=Διεθνοποίηση KDE
./slackware/kdei[es]=Internacionalización de KDE
./slackware/kdei[fr]=KDE Internationalization
./slackware/kdei[gl_ES]=KDE Internationalization
./slackware/kdei[id]=KDE Internationalization
./slackware/kdei[it]=KDE Internationalization
./slackware/kdei[ja]=KDE Internationalization
./slackware/kdei[nl]=KDE Internationalization
./slackware/kdei[pl]=KDE Internationalization
./slackware/kdei[pt_BR]=KDE Internationalization
./slackware/kdei[pt]=KDE Internationalization
./slackware/kdei[ru]=KDE Internationalization
./slackware/kdei[sk]=KDE Internationalization
./slackware/kdei[sv]=KDE Internationalization
./slackware/kdei[tr]=KDE Internationalization
./slackware/kdei[uk]=KDE Internationalization
./slackware/kdei[vi]=KDE Internationalization
./slackware/kdei[zh_CN]=KDE Internationalization
./slackware/l=Libraries
./slackware/l[bg]=Libraries
./slackware/l[de]=Bibliotheken
./slackware/l[el]=Βιβλιοθηκες
./slackware/l[es]=Bibliotecas
./slackware/l[fr]=Libraries
./slackware/l[gl_ES]=Libraries
./slackware/l[id]=Libraries
./slackware/l[it]=Libraries
./slackware/l[ja]=Libraries
./slackware/l[nl]=Libraries
./slackware/l[pl]=Libraries
./slackware/l[pt_BR]=Libraries
./slackware/l[pt]=Libraries
./slackware/l[ru]=Libraries
./slackware/l[sk]=Libraries
./slackware/l[sv]=Libraries
./slackware/l[tr]=Libraries
./slackware/l[uk]=Libraries
./slackware/l[vi]=Libraries
./slackware/l[zh_CN]=Libraries
./slackware/n=Networking
./slackware/n[bg]=Networking
./slackware/n[de]=Netzwerk
./slackware/n[el]=Δικτύωση
./slackware/n[es]=Redes
./slackware/n[fr]=Networking
./slackware/n[gl_ES]=Networking
./slackware/n[id]=Networking
./slackware/n[it]=Networking
./slackware/n[ja]=Networking
./slackware/n[nl]=Networking
./slackware/n[pl]=Networking
./slackware/n[pt_BR]=Networking
./slackware/n[pt]=Networking
./slackware/n[ru]=Networking
./slackware/n[sk]=Networking
./slackware/n[sv]=Networking
./slackware/n[tr]=Networking
./slackware/n[uk]=Networking
./slackware/n[vi]=Networking
./slackware/n[zh_CN]=Networking
./slackware/t=teTeX
./slackware/t[bg]=teTeX
./slackware/t[de]=teTeX
./slackware/t[el]=teTeX
./slackware/t[es]=teTeX
./slackware/t[fr]=teTeX
./slackware/t[gl_ES]=teTeX
./slackware/t[id]=teTeX
./slackware/t[it]=teTeX
./slackware/t[ja]=teTeX
./slackware/t[nl]=teTeX
./slackware/t[pl]=teTeX
./slackware/t[pt_BR]=teTeX
./slackware/t[pt]=teTeX
./slackware/t[ru]=teTeX
./slackware/t[sk]=teTeX
./slackware/t[sv]=teTeX
./slackware/t[tr]=teTeX
./slackware/t[uk]=teTeX
./slackware/t[vi]=teTeX
./slackware/t[zh_CN]=teTeX
./slackware/tcl=TCL
./slackware/tcl[bg]=TCL
./slackware/tcl[de]=TCL
./slackware/tcl[el]=TCL
./slackware/tcl[es]=TCL
./slackware/tcl[fr]=TCL
./slackware/tcl[gl_ES]=TCL
./slackware/tcl[id]=TCL
./slackware/tcl[it]=TCL
./slackware/tcl[ja]=TCL
./slackware/tcl[nl]=TCL
./slackware/tcl[pl]=TCL
./slackware/tcl[pt_BR]=TCL
./slackware/tcl[pt]=TCL
./slackware/tcl[ru]=TCL
./slackware/tcl[sk]=TCL
./slackware/tcl[sv]=TCL
./slackware/tcl[tr]=TCL
./slackware/tcl[uk]=TCL
./slackware/tcl[vi]=TCL
./slackware/tcl[zh_CN]=TCL
./slackware/x=X Window System
./slackware/x[bg]=X Window System
./slackware/x[de]=X Window System
./slackware/x[el]=Σύστημα Γραφικών X
./slackware/x[es]=Sistema X Window
./slackware/x[fr]=X Window System
./slackware/x[gl_ES]=X Window System
./slackware/x[id]=X Window System
./slackware/x[it]=X Window System
./slackware/x[ja]=X Window System
./slackware/x[nl]=X Window System
./slackware/x[pl]=X Window System
./slackware/x[pt_BR]=X Window System
./slackware/x[pt]=X Window System
./slackware/x[ru]=X Window System
./slackware/x[sk]=X Window System
./slackware/x[sv]=X Window System
./slackware/x[tr]=X Window System
./slackware/x[uk]=X Window System
./slackware/x[vi]=X Window System
./slackware/x[zh_CN]=X Window System
./slackware/xap=X Applications
./slackware/xap[bg]=X Applications
./slackware/xap[de]=X Anwendungen
./slackware/xap[el]=Εφαρμογές Γραφικού Περιβάλλοντος
./slackware/xap[es]=Aplicaciones para X
./slackware/xap[fr]=X Applications
./slackware/xap[gl_ES]=X Applications
./slackware/xap[id]=X Applications
./slackware/xap[it]=X Applications
./slackware/xap[ja]=X Applications
./slackware/xap[nl]=X Applications
./slackware/xap[pl]=X Applications
./slackware/xap[pt_BR]=X Applications
./slackware/xap[pt]=X Applications
./slackware/xap[ru]=X Applications
./slackware/xap[sk]=X Applications
./slackware/xap[sv]=X Applications
./slackware/xap[tr]=X Applications
./slackware/xap[uk]=X Applications
./slackware/xap[vi]=X Applications
./slackware/xap[zh_CN]=X Applications
./slackware/y=BSD Console games
./slackware/y[bg]=BSD Console games
./slackware/y[de]=BSD Konsolen-Spiele
./slackware/y[el]=Παιγνίδια Κονσόλας BSD
./slackware/y[es]=Juegos de consola BSD
./slackware/y[fr]=BSD Console games
./slackware/y[gl_ES]=BSD Console games
./slackware/y[id]=BSD Console games
./slackware/y[it]=BSD Console games
./slackware/y[ja]=BSD Console games
./slackware/y[nl]=BSD Console games
./slackware/y[pl]=BSD Console games
./slackware/y[pt_BR]=BSD Console games
./slackware/y[pt]=BSD Console games
./slackware/y[ru]=BSD Console games
./slackware/y[sk]=BSD Console games
./slackware/y[sv]=BSD Console games
./slackware/y[tr]=BSD Console games
./slackware/y[uk]=BSD Console games
./slackware/y[vi]=BSD Console games
./slackware/y[zh_CN]=BSD Console games
./patches/packages=Patches
./patches/packages[bg]=Patches
./patches/packages[de]=Patche
./patches/packages[el]=Διορθώσεις
./patches/packages[es]=Parches
./patches/packages[fr]=Patches
./patches/packages[gl_ES]=Patches
./patches/packages[id]=Patches
./patches/packages[it]=Patches
./patches/packages[ja]=Patches
./patches/packages[nl]=Patches
./patches/packages[pl]=Patches
./patches/packages[pt_BR]=Patches
./patches/packages[pt]=Patches
./patches/packages[ru]=Patches
./patches/packages[sk]=Patches
./patches/packages[sv]=Patches
./patches/packages[tr]=Patches
./patches/packages[uk]=Patches
./patches/packages[vi]=Patches
./patches/packages[zh_CN]=Patches
./gsb/a=GSB Base
./gsb/a[bg]=GSB Base
./gsb/a[de]=GSB Base
./gsb/a[el]=GSB Base
./gsb/a[en]=GSB Base
./gsb/a[es]=GSB Base
./gsb/a[fr]=GSB Base
./gsb/a[gl_ES]=GSB Base
./gsb/a[id]=GSB Base
./gsb/a[it]=GSB Base
./gsb/a[ja]=GSB Base
./gsb/a[nl]=GSB Base
./gsb/a[pl]=GSB Base
./gsb/a[pt_BR]=GSB Base
./gsb/a[pt]=GSB Base
./gsb/a[ru]=GSB Base
./gsb/a[sk]=GSB Base
./gsb/a[sv]=GSB Base
./gsb/a[tr]=GSB Base
./gsb/a[uk]=GSB Base
./gsb/a[vi]=GSB Base
./gsb/a[zh_CN]=GSB Base
./gsb/ac=GSB Accessibility
./gsb/ac[bg]=GSB Accessibility
./gsb/ac[de]=GSB Accessibility
./gsb/ac[el]=GSB Accessibility
./gsb/ac[en]=GSB Accessibility
./gsb/ac[es]=Accesibilidad GSB
./gsb/ac[fr]=GSB Accessibility
./gsb/ac[gl_ES]=GSB Accessibility
./gsb/ac[id]=GSB Accessibility
./gsb/ac[it]=GSB Accessibility
./gsb/ac[ja]=GSB Accessibility
./gsb/ac[nl]=GSB Accessibility
./gsb/ac[pl]=GSB Accessibility
./gsb/ac[pt_BR]=GSB Accessibility
./gsb/ac[pt]=GSB Accessibility
./gsb/ac[ru]=GSB Accessibility
./gsb/ac[sk]=GSB Accessibility
./gsb/ac[sv]=GSB Accessibility
./gsb/ac[tr]=GSB Accessibility
./gsb/ac[uk]=GSB Accessibility
./gsb/ac[vi]=GSB Accessibility
./gsb/ac[zh_CN]=GSB Accessibility
./gsb/ad=GSB Administration
./gsb/ad[bg]=GSB Administration
./gsb/ad[de]=GSB Administration
./gsb/ad[el]=GSB Administration
./gsb/ad[en]=GSB Administration
./gsb/ad[es]=Administración GSB
./gsb/ad[fr]=GSB Administration
./gsb/ad[gl_ES]=GSB Administration
./gsb/ad[id]=GSB Administration
./gsb/ad[it]=GSB Administration
./gsb/ad[ja]=GSB Administration
./gsb/ad[nl]=GSB Administration
./gsb/ad[pl]=GSB Administration
./gsb/ad[pt_BR]=GSB Administration
./gsb/ad[pt]=GSB Administration
./gsb/ad[ru]=GSB Administration
./gsb/ad[sk]=GSB Administration
./gsb/ad[sv]=GSB Administration
./gsb/ad[tr]=GSB Administration
./gsb/ad[uk]=GSB Administration
./gsb/ad[vi]=GSB Administration
./gsb/ad[zh_CN]=GSB Administration
./gsb/ap=GSB Applications
./gsb/ap[bg]=GSB Applications
./gsb/ap[de]=GSB Applications
./gsb/ap[el]=GSB Applications
./gsb/ap[en]=GSB Applications
./gsb/ap[es]=Aplicaciones GSB
./gsb/ap[fr]=GSB Applications
./gsb/ap[gl_ES]=GSB Applications
./gsb/ap[id]=GSB Applications
./gsb/ap[it]=GSB Applications
./gsb/ap[ja]=GSB Applications
./gsb/ap[nl]=GSB Applications
./gsb/ap[pl]=GSB Applications
./gsb/ap[pt_BR]=GSB Applications
./gsb/ap[pt]=GSB Applications
./gsb/ap[ru]=GSB Applications
./gsb/ap[sk]=GSB Applications
./gsb/ap[sv]=GSB Applications
./gsb/ap[tr]=GSB Applications
./gsb/ap[uk]=GSB Applications
./gsb/ap[vi]=GSB Applications
./gsb/ap[zh_CN]=GSB Applications
./gsb/c=GSB Compiz Fusion
./gsb/c[bg]=GSB Compiz Fusion
./gsb/c[de]=GSB Compiz Fusion
./gsb/c[el]=GSB Compiz Fusion
./gsb/c[en]=GSB Compiz Fusion
./gsb/c[es]=Compiz Fusion GSB
./gsb/c[fr]=GSB Compiz Fusion
./gsb/c[gl_ES]=GSB Compiz Fusion
./gsb/c[id]=GSB Compiz Fusion
./gsb/c[it]=GSB Compiz Fusion
./gsb/c[ja]=GSB Compiz Fusion
./gsb/c[nl]=GSB Compiz Fusion
./gsb/c[pl]=GSB Compiz Fusion
./gsb/c[pt_BR]=GSB Compiz Fusion
./gsb/c[pt]=GSB Compiz Fusion
./gsb/c[ru]=GSB Compiz Fusion
./gsb/c[sk]=GSB Compiz Fusion
./gsb/c[sv]=GSB Compiz Fusion
./gsb/c[tr]=GSB Compiz Fusion
./gsb/c[uk]=GSB Compiz Fusion
./gsb/c[vi]=GSB Compiz Fusion
./gsb/c[zh_CN]=GSB Compiz Fusion
./gsb/d=GSB Development
./gsb/d[bg]=GSB Development
./gsb/d[de]=GSB Development
./gsb/d[el]=GSB Development
./gsb/d[en]=GSB Development
./gsb/d[es]=Desarrollo GSB
./gsb/d[fr]=GSB Development
./gsb/d[gl_ES]=GSB Development
./gsb/d[id]=GSB Development
./gsb/d[it]=GSB Development
./gsb/d[ja]=GSB Development
./gsb/d[nl]=GSB Development
./gsb/d[pl]=GSB Development
./gsb/d[pt_BR]=GSB Development
./gsb/d[pt]=GSB Development
./gsb/d[ru]=GSB Development
./gsb/d[sk]=GSB Development
./gsb/d[sv]=GSB Development
./gsb/d[tr]=GSB Development
./gsb/d[uk]=GSB Development
./gsb/d[vi]=GSB Development
./gsb/d[zh_CN]=GSB Development
./gsb/go=GSB Office
./gsb/go[bg]=GSB Office
./gsb/go[de]=GSB Office
./gsb/go[el]=GSB Office
./gsb/go[en]=GSB Office
./gsb/go[es]=Office GSB
./gsb/go[fr]=GSB Office
./gsb/go[gl_ES]=GSB Office
./gsb/go[id]=GSB Office
./gsb/go[it]=GSB Office
./gsb/go[ja]=GSB Office
./gsb/go[nl]=GSB Office
./gsb/go[pl]=GSB Office
./gsb/go[pt_BR]=GSB Office
./gsb/go[pt]=GSB Office
./gsb/go[ru]=GSB Office
./gsb/go[sk]=GSB Office
./gsb/go[sv]=GSB Office
./gsb/go[tr]=GSB Office
./gsb/go[uk]=GSB Office
./gsb/go[vi]=GSB Office
./gsb/go[zh_CN]=GSB Office
./gsb/l=GSB Libraries
./gsb/l[bg]=GSB Libraries
./gsb/l[de]=GSB Libraries
./gsb/l[el]=GSB Libraries
./gsb/l[en]=GSB Libraries
./gsb/l[es]=Bibliotecas GSB
./gsb/l[fr]=GSB Libraries
./gsb/l[gl_ES]=GSB Libraries
./gsb/l[id]=GSB Libraries
./gsb/l[it]=GSB Libraries
./gsb/l[ja]=GSB Libraries
./gsb/l[nl]=GSB Libraries
./gsb/l[pl]=GSB Libraries
./gsb/l[pt_BR]=GSB Libraries
./gsb/l[pt]=GSB Libraries
./gsb/l[ru]=GSB Libraries
./gsb/l[sk]=GSB Libraries
./gsb/l[sv]=GSB Libraries
./gsb/l[tr]=GSB Libraries
./gsb/l[uk]=GSB Libraries
./gsb/l[vi]=GSB Libraries
./gsb/l[zh_CN]=GSB Libraries
./gsb/m=GSB Mono
./gsb/m[bg]=GSB Mono
./gsb/m[de]=GSB Mono
./gsb/m[el]=GSB Mono
./gsb/m[en]=GSB Mono
./gsb/m[es]=Mono GSB
./gsb/m[fr]=GSB Mono
./gsb/m[gl_ES]=GSB Mono
./gsb/m[id]=GSB Mono
./gsb/m[it]=GSB Mono
./gsb/m[ja]=GSB Mono
./gsb/m[nl]=GSB Mono
./gsb/m[pl]=GSB Mono
./gsb/m[pt_BR]=GSB Mono
./gsb/m[pt]=GSB Mono
./gsb/m[ru]=GSB Mono
./gsb/m[sk]=GSB Mono
./gsb/m[sv]=GSB Mono
./gsb/m[tr]=GSB Mono
./gsb/m[uk]=GSB Mono
./gsb/m[vi]=GSB Mono
./gsb/m[zh_CN]=GSB Mono
./gsb/n=GSB Networking
./gsb/n[bg]=GSB Networking
./gsb/n[de]=GSB Networking
./gsb/n[el]=GSB Networking
./gsb/n[en]=GSB Networking
./gsb/n[es]=Redes GSB
./gsb/n[fr]=GSB Networking
./gsb/n[gl_ES]=GSB Networking
./gsb/n[id]=GSB Networking
./gsb/n[it]=GSB Networking
./gsb/n[ja]=GSB Networking
./gsb/n[nl]=GSB Networking
./gsb/n[pl]=GSB Networking
./gsb/n[pt_BR]=GSB Networking
./gsb/n[pt]=GSB Networking
./gsb/n[ru]=GSB Networking
./gsb/n[sk]=GSB Networking
./gsb/n[sv]=GSB Networking
./gsb/n[tr]=GSB Networking
./gsb/n[uk]=GSB Networking
./gsb/n[vi]=GSB Networking
./gsb/n[zh_CN]=GSB Networking
./gsb/ooo=GSB OpenOffice.org
./gsb/ooo[bg]=GSB OpenOffice.org
./gsb/ooo[de]=GSB OpenOffice.org
./gsb/ooo[el]=GSB OpenOffice.org
./gsb/ooo[en]=GSB OpenOffice.org
./gsb/ooo[es]=OpenOffice.org GSB
./gsb/ooo[fr]=GSB OpenOffice.org
./gsb/ooo[gl_ES]=GSB OpenOffice.org
./gsb/ooo[id]=GSB OpenOffice.org
./gsb/ooo[it]=GSB OpenOffice.org
./gsb/ooo[ja]=GSB OpenOffice.org
./gsb/ooo[nl]=GSB OpenOffice.org
./gsb/ooo[pl]=GSB OpenOffice.org
./gsb/ooo[pt_BR]=GSB OpenOffice.org
./gsb/ooo[pt]=GSB OpenOffice.org
./gsb/ooo[ru]=GSB OpenOffice.org
./gsb/ooo[sk]=GSB OpenOffice.org
./gsb/ooo[sv]=GSB OpenOffice.org
./gsb/ooo[tr]=GSB OpenOffice.org
./gsb/ooo[uk]=GSB OpenOffice.org
./gsb/ooo[vi]=GSB OpenOffice.org
./gsb/ooo[zh_CN]=GSB OpenOffice.org
./gsb/t=GSB Themes
./gsb/t[bg]=GSB Themes
./gsb/t[de]=GSB Themes
./gsb/t[el]=GSB Themes
./gsb/t[en]=GSB Themes
./gsb/t[es]=Temas GSB
./gsb/t[fr]=GSB Themes
./gsb/t[gl_ES]=GSB Themes
./gsb/t[id]=GSB Themes
./gsb/t[it]=GSB Themes
./gsb/t[ja]=GSB Themes
./gsb/t[nl]=GSB Themes
./gsb/t[pl]=GSB Themes
./gsb/t[pt_BR]=GSB Themes
./gsb/t[pt]=GSB Themes
./gsb/t[ru]=GSB Themes
./gsb/t[sk]=GSB Themes
./gsb/t[sv]=GSB Themes
./gsb/t[tr]=GSB Themes
./gsb/t[uk]=GSB Themes
./gsb/t[vi]=GSB Themes
./gsb/t[zh_CN]=GSB Themes
