[series mappings]
./slackware/a=Base
./slackware/a[bg]=Base
./slackware/a[de]=Basis
./slackware/a[el]=Βάση
./slackware/a[es]=Base
./slackware/a[fr]=Base
./slackware/a[gl_ES]=Base
./slackware/a[id]=Base
./slackware/a[it]=Base
./slackware/a[ja]=Base
./slackware/a[nl]=Base
./slackware/a[pl]=Base
./slackware/a[pt_BR]=Base
./slackware/a[pt]=Base
./slackware/a[ru]=Base
./slackware/a[sk]=Base
./slackware/a[sv]=Base
./slackware/a[tr]=Base
./slackware/a[uk]=Base
./slackware/a[vi]=Base
./slackware/a[zh_CN]=Base
./slackware/ap=Applications
./slackware/ap[bg]=Applications
./slackware/ap[de]=Anwendungen
./slackware/ap[el]=Εφαρμογές
./slackware/ap[es]=Applications
./slackware/ap[fr]=Applications
./slackware/ap[gl_ES]=Applications
./slackware/ap[id]=Applications
./slackware/ap[it]=Applications
./slackware/ap[ja]=Applications
./slackware/ap[nl]=Applications
./slackware/ap[pl]=Applications
./slackware/ap[pt_BR]=Applications
./slackware/ap[pt]=Applications
./slackware/ap[ru]=Applications
./slackware/ap[sk]=Applications
./slackware/ap[sv]=Applications
./slackware/ap[tr]=Applications
./slackware/ap[uk]=Applications
./slackware/ap[vi]=Applications
./slackware/ap[zh_CN]=Applications
./slackware/d=Development Tools
./slackware/d[bg]=Development Tools
./slackware/d[de]=Entwicklungs-Werkzeuge
./slackware/d[el]=Εργαλεία ανάπτυξης
./slackware/d[es]=Development Tools
./slackware/d[fr]=Development Tools
./slackware/d[gl_ES]=Development Tools
./slackware/d[id]=Development Tools
./slackware/d[it]=Development Tools
./slackware/d[ja]=Development Tools
./slackware/d[nl]=Development Tools
./slackware/d[pl]=Development Tools
./slackware/d[pt_BR]=Development Tools
./slackware/d[pt]=Development Tools
./slackware/d[ru]=Development Tools
./slackware/d[sk]=Development Tools
./slackware/d[sv]=Development Tools
./slackware/d[tr]=Development Tools
./slackware/d[uk]=Development Tools
./slackware/d[vi]=Development Tools
./slackware/d[zh_CN]=Development Tools
./slackware/e=GNU Emacs
./slackware/e[bg]=GNU Emacs
./slackware/e[de]=GNU Emacs
./slackware/e[el]=GNU Emacs
./slackware/e[es]=GNU Emacs
./slackware/e[fr]=GNU Emacs
./slackware/e[gl_ES]=GNU Emacs
./slackware/e[id]=GNU Emacs
./slackware/e[it]=GNU Emacs
./slackware/e[ja]=GNU Emacs
./slackware/e[nl]=GNU Emacs
./slackware/e[pl]=GNU Emacs
./slackware/e[pt_BR]=GNU Emacs
./slackware/e[pt]=GNU Emacs
./slackware/e[ru]=GNU Emacs
./slackware/e[sk]=GNU Emacs
./slackware/e[sv]=GNU Emacs
./slackware/e[tr]=GNU Emacs
./slackware/e[uk]=GNU Emacs
./slackware/e[vi]=GNU Emacs
./slackware/e[zh_CN]=GNU Emacs
./slackware/f=Documentation
./slackware/f[bg]=Documentation
./slackware/f[de]=Dokumentation
./slackware/f[el]=Τεκμηρίωση
./slackware/f[es]=Documentation
./slackware/f[fr]=Documentation
./slackware/f[gl_ES]=Documentation
./slackware/f[id]=Documentation
./slackware/f[it]=Documentation
./slackware/f[ja]=Documentation
./slackware/f[nl]=Documentation
./slackware/f[pl]=Documentation
./slackware/f[pt_BR]=Documentation
./slackware/f[pt]=Documentation
./slackware/f[ru]=Documentation
./slackware/f[sk]=Documentation
./slackware/f[sv]=Documentation
./slackware/f[tr]=Documentation
./slackware/f[uk]=Documentation
./slackware/f[vi]=Documentation
./slackware/f[zh_CN]=Documentation
./slackware/gnome=GNOME
./slackware/gnome[bg]=GNOME
./slackware/gnome[de]=GNOME
./slackware/gnome[el]=GNOME
./slackware/gnome[es]=GNOME
./slackware/gnome[fr]=GNOME
./slackware/gnome[gl_ES]=GNOME
./slackware/gnome[id]=GNOME
./slackware/gnome[it]=GNOME
./slackware/gnome[ja]=GNOME
./slackware/gnome[nl]=GNOME
./slackware/gnome[pl]=GNOME
./slackware/gnome[pt_BR]=GNOME
./slackware/gnome[pt]=GNOME
./slackware/gnome[ru]=GNOME
./slackware/gnome[sk]=GNOME
./slackware/gnome[sv]=GNOME
./slackware/gnome[tr]=GNOME
./slackware/gnome[uk]=GNOME
./slackware/gnome[vi]=GNOME
./slackware/gnome[zh_CN]=GNOME
./slackware/k=Linux kernel
./slackware/k[bg]=Linux kernel
./slackware/k[de]=Linux Kernel
./slackware/k[el]=Πυρήνας Linux
./slackware/k[es]=Linux kernel
./slackware/k[fr]=Linux kernel
./slackware/k[gl_ES]=Linux kernel
./slackware/k[id]=Linux kernel
./slackware/k[it]=Linux kernel
./slackware/k[ja]=Linux kernel
./slackware/k[nl]=Linux kernel
./slackware/k[pl]=Linux kernel
./slackware/k[pt_BR]=Linux kernel
./slackware/k[pt]=Linux kernel
./slackware/k[ru]=Linux kernel
./slackware/k[sk]=Linux kernel
./slackware/k[sv]=Linux kernel
./slackware/k[tr]=Linux kernel
./slackware/k[uk]=Linux kernel
./slackware/k[vi]=Linux kernel
./slackware/k[zh_CN]=Linux kernel
./slackware/kde=KDE
./slackware/kde[bg]=KDE
./slackware/kde[de]=KDE
./slackware/kde[el]=KDE
./slackware/kde[es]=KDE
./slackware/kde[fr]=KDE
./slackware/kde[gl_ES]=KDE
./slackware/kde[id]=KDE
./slackware/kde[it]=KDE
./slackware/kde[ja]=KDE
./slackware/kde[nl]=KDE
./slackware/kde[pl]=KDE
./slackware/kde[pt_BR]=KDE
./slackware/kde[pt]=KDE
./slackware/kde[ru]=KDE
./slackware/kde[sk]=KDE
./slackware/kde[sv]=KDE
./slackware/kde[tr]=KDE
./slackware/kde[uk]=KDE
./slackware/kde[vi]=KDE
./slackware/kde[zh_CN]=KDE
./slackware/kdei=KDE Internationalization
./slackware/kdei[bg]=KDE Internationalization
./slackware/kdei[de]=KDE Lokalisierungen
./slackware/kdei[el]=Διεθνοποίηση KDE
./slackware/kdei[es]=KDE Internationalization
./slackware/kdei[fr]=KDE Internationalization
./slackware/kdei[gl_ES]=KDE Internationalization
./slackware/kdei[id]=KDE Internationalization
./slackware/kdei[it]=KDE Internationalization
./slackware/kdei[ja]=KDE Internationalization
./slackware/kdei[nl]=KDE Internationalization
./slackware/kdei[pl]=KDE Internationalization
./slackware/kdei[pt_BR]=KDE Internationalization
./slackware/kdei[pt]=KDE Internationalization
./slackware/kdei[ru]=KDE Internationalization
./slackware/kdei[sk]=KDE Internationalization
./slackware/kdei[sv]=KDE Internationalization
./slackware/kdei[tr]=KDE Internationalization
./slackware/kdei[uk]=KDE Internationalization
./slackware/kdei[vi]=KDE Internationalization
./slackware/kdei[zh_CN]=KDE Internationalization
./slackware/l=Libraries
./slackware/l[bg]=Libraries
./slackware/l[de]=Bibliotheken
./slackware/l[el]=Βιβλιοθηκες
./slackware/l[es]=Libraries
./slackware/l[fr]=Libraries
./slackware/l[gl_ES]=Libraries
./slackware/l[id]=Libraries
./slackware/l[it]=Libraries
./slackware/l[ja]=Libraries
./slackware/l[nl]=Libraries
./slackware/l[pl]=Libraries
./slackware/l[pt_BR]=Libraries
./slackware/l[pt]=Libraries
./slackware/l[ru]=Libraries
./slackware/l[sk]=Libraries
./slackware/l[sv]=Libraries
./slackware/l[tr]=Libraries
./slackware/l[uk]=Libraries
./slackware/l[vi]=Libraries
./slackware/l[zh_CN]=Libraries
./slackware/n=Networking
./slackware/n[bg]=Networking
./slackware/n[de]=Netzwerk
./slackware/n[el]=Δικτύωση
./slackware/n[es]=Networking
./slackware/n[fr]=Networking
./slackware/n[gl_ES]=Networking
./slackware/n[id]=Networking
./slackware/n[it]=Networking
./slackware/n[ja]=Networking
./slackware/n[nl]=Networking
./slackware/n[pl]=Networking
./slackware/n[pt_BR]=Networking
./slackware/n[pt]=Networking
./slackware/n[ru]=Networking
./slackware/n[sk]=Networking
./slackware/n[sv]=Networking
./slackware/n[tr]=Networking
./slackware/n[uk]=Networking
./slackware/n[vi]=Networking
./slackware/n[zh_CN]=Networking
./slackware/t=teTeX
./slackware/t[bg]=teTeX
./slackware/t[de]=teTeX
./slackware/t[el]=teTeX
./slackware/t[es]=teTeX
./slackware/t[fr]=teTeX
./slackware/t[gl_ES]=teTeX
./slackware/t[id]=teTeX
./slackware/t[it]=teTeX
./slackware/t[ja]=teTeX
./slackware/t[nl]=teTeX
./slackware/t[pl]=teTeX
./slackware/t[pt_BR]=teTeX
./slackware/t[pt]=teTeX
./slackware/t[ru]=teTeX
./slackware/t[sk]=teTeX
./slackware/t[sv]=teTeX
./slackware/t[tr]=teTeX
./slackware/t[uk]=teTeX
./slackware/t[vi]=teTeX
./slackware/t[zh_CN]=teTeX
./slackware/tcl=TCL
./slackware/tcl[bg]=TCL
./slackware/tcl[de]=TCL
./slackware/tcl[el]=TCL
./slackware/tcl[es]=TCL
./slackware/tcl[fr]=TCL
./slackware/tcl[gl_ES]=TCL
./slackware/tcl[id]=TCL
./slackware/tcl[it]=TCL
./slackware/tcl[ja]=TCL
./slackware/tcl[nl]=TCL
./slackware/tcl[pl]=TCL
./slackware/tcl[pt_BR]=TCL
./slackware/tcl[pt]=TCL
./slackware/tcl[ru]=TCL
./slackware/tcl[sk]=TCL
./slackware/tcl[sv]=TCL
./slackware/tcl[tr]=TCL
./slackware/tcl[uk]=TCL
./slackware/tcl[vi]=TCL
./slackware/tcl[zh_CN]=TCL
./slackware/x=X Window System
./slackware/x[bg]=X Window System
./slackware/x[de]=X Window System
./slackware/x[el]=Σύστημα Γραφικών X
./slackware/x[es]=X Window System
./slackware/x[fr]=X Window System
./slackware/x[gl_ES]=X Window System
./slackware/x[id]=X Window System
./slackware/x[it]=X Window System
./slackware/x[ja]=X Window System
./slackware/x[nl]=X Window System
./slackware/x[pl]=X Window System
./slackware/x[pt_BR]=X Window System
./slackware/x[pt]=X Window System
./slackware/x[ru]=X Window System
./slackware/x[sk]=X Window System
./slackware/x[sv]=X Window System
./slackware/x[tr]=X Window System
./slackware/x[uk]=X Window System
./slackware/x[vi]=X Window System
./slackware/x[zh_CN]=X Window System
./slackware/xap=X Applications
./slackware/xap[bg]=X Applications
./slackware/xap[de]=X Anwendungen
./slackware/xap[el]=Εφαρμογές Γραφικού Περιβάλλοντος
./slackware/xap[es]=X Applications
./slackware/xap[fr]=X Applications
./slackware/xap[gl_ES]=X Applications
./slackware/xap[id]=X Applications
./slackware/xap[it]=X Applications
./slackware/xap[ja]=X Applications
./slackware/xap[nl]=X Applications
./slackware/xap[pl]=X Applications
./slackware/xap[pt_BR]=X Applications
./slackware/xap[pt]=X Applications
./slackware/xap[ru]=X Applications
./slackware/xap[sk]=X Applications
./slackware/xap[sv]=X Applications
./slackware/xap[tr]=X Applications
./slackware/xap[uk]=X Applications
./slackware/xap[vi]=X Applications
./slackware/xap[zh_CN]=X Applications
./slackware/y=BSD Console games
./slackware/y[bg]=BSD Console games
./slackware/y[de]=BSD Konsolen-Spiele
./slackware/y[el]=Παιγνίδια Κονσόλας BSD
./slackware/y[es]=BSD Console games
./slackware/y[fr]=BSD Console games
./slackware/y[gl_ES]=BSD Console games
./slackware/y[id]=BSD Console games
./slackware/y[it]=BSD Console games
./slackware/y[ja]=BSD Console games
./slackware/y[nl]=BSD Console games
./slackware/y[pl]=BSD Console games
./slackware/y[pt_BR]=BSD Console games
./slackware/y[pt]=BSD Console games
./slackware/y[ru]=BSD Console games
./slackware/y[sk]=BSD Console games
./slackware/y[sv]=BSD Console games
./slackware/y[tr]=BSD Console games
./slackware/y[uk]=BSD Console games
./slackware/y[vi]=BSD Console games
./slackware/y[zh_CN]=BSD Console games
./patches/packages=Patches
./patches/packages[bg]=Patches
./patches/packages[de]=Patche
./patches/packages[el]=Διορθώσεις
./patches/packages[es]=Patches
./patches/packages[fr]=Patches
./patches/packages[gl_ES]=Patches
./patches/packages[id]=Patches
./patches/packages[it]=Patches
./patches/packages[ja]=Patches
./patches/packages[nl]=Patches
./patches/packages[pl]=Patches
./patches/packages[pt_BR]=Patches
./patches/packages[pt]=Patches
./patches/packages[ru]=Patches
./patches/packages[sk]=Patches
./patches/packages[sv]=Patches
./patches/packages[tr]=Patches
./patches/packages[uk]=Patches
./patches/packages[vi]=Patches
./patches/packages[zh_CN]=Patches
